name: {{name}}
<table>
    {{#each row in rounded}}
        <tr>
            {{#each col in row}}
            <td>{{col}}
                </td>
            {{/each}}
        </tr>
    {{/each}}
</table>
